.icon-logo{
	    border-width: 0;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
	border-radius: 20%;
	margin:inherit;
	margin-bottom: 0px;
}

@media (max-width: 767px){
	.icon-logo{
	margin: auto;
	margin-bottom: 50px;
}
	
}